.buttons {
    /* background-color: red; */
    max-width: 340px;
    height: 560px;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    gap: 200px;
    background-color: grey;
}
button {
    width: 80px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(7, 195, 233);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.calculator {
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    align-items: flex-end;

}
.clear, .delete {
    width: 160px;
    text-align: center;
}
.screen {
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 110px;
    gap: 30px;
    /* background-color: rgb(222, 20, 20); */
    border-radius: 10px;
    font-size: 25px;
}

.display,
.result {
    background-color: white;
}

h1 {
    font-size: x-large;
    text-align: center;
}


* {
    background-color: beige;
    text-align: right;

}
